.site-meta{
	background-image: url(http://image.wxzvip.cn/bg240-170.jpg);
}
.site-title,.site-subtitle{
	text-shadow: 1px 1px 1px #333;
}
// Custom styles.
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}
